.banner {
    background-color:white;
    height: 700px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    color: black;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    background-color:rgb(175, 235, 56);
    outline: none;
    border: none;
    padding: 17px 34px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
  }
  